.iiiii-reserved-word {
    color: inherit;
    text-decoration: none;
}

.iiiii-word {
    color: inherit;
    text-decoration: underline;
}

.iiiii-word-inner {
    color: transparent;
}

.iiiii-word:hover {
    text-decoration: inherit;
}

.iiiii-word:hover .iiiii-word-inner {
    color: inherit;
}
